@charset "UTF-8";

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blueviolet;
   
}
 h1#principal {
    text-align: center ;
    background-color: rgb(44, 43, 126);
 }
h2 {
    color: rgb(172, 7, 103);
}

.basico {

    color: rgb(172, 7, 103);

}

.intermediario {
color: blue;

}

.avançado {

color: red;

}